.card-title {
    color: white;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}

.card {
    background-color: none;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 55px;
    margin-top: 55px;
    padding: auto;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card-img-top {
    max-height: 350px;
}

.appGameHeader {
      color: white;
      font-family: monospace;
      text-align: center;
      font-size: 36px;
      padding-top: 20px;
}
