<p class="appGameHeader">THE BEST EMULATORS FOR THE BEST GAMES</p>

<app-add-game *ngIf="showGameForm" (gameFormClose)="gameFormClose($event)" [game]="currentGame"></app-add-game>
<button *ngIf="isLoggedIn && !showGameForm" class="btn btn-lg btn-success add-game-btn" (click)="openAddGame()">Add Game</button>


<div class="games-list-container ms-3" [ngClass]="{'dark-theme': isDarkMode}">
  <form class="d-flex" role="search" (submit)="searchGames(searchInput.value); $event.preventDefault()" id="searchid">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchInput (input)="searchGames(searchInput.value)">
  </form>

  <!-- TODO: Replace this with a toast message appearing at top right -->
  <div *ngIf="ratingError" class="alert alert-danger m-4"> You must be logged in to rate games. </div>
  <div *ngIf="successMessage" class="alert alert-success m-4">{{successMessage}}</div>
  <div class="card" style="width: 18rem; margin-left: 20px;" *ngFor="let g of filteredGamesList">
    <img class="card-img-top" src="{{g.image}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" [ngStyle]="{'font-size': (g.title.length > 12 ? '12px' : '14px')}">{{ g.title }} - {{ g.year }}</p>
      <div class="rating">
        <a>Emulation rating: </a>
        <span (mouseover)="g.isChecked[0]=true" (click)="rateGame(g, 0)" (mouseout)="g.isChecked[0]=false" class="fa fa-star" [ngClass]="{'checked': g.checkedIndex==0?true:g.isChecked[0]}" [title]="(g.totalUserRating > 0 ? g.totalUserRating + ' User ratings - ' + g.averageRating + ' average' : 'No ratings yet')"></span>
<span (mouseover)="g.isChecked[1]=true" (click)="rateGame(g, 1)" (mouseout)="g.isChecked[1]=false" class="fa fa-star" [ngClass]="{'checked': g.checkedIndex==1?true:g.isChecked[1]}" [title]="(g.totalUserRating > 0 ? g.totalUserRating + ' User ratings - ' + g.averageRating + ' average' : 'No ratings yet')"></span>
<span (mouseover)="g.isChecked[2]=true" (click)="rateGame(g, 2)" (mouseout)="g.isChecked[2]=false" class="fa fa-star" [ngClass]="{'checked': g.checkedIndex==2?true:g.isChecked[2]}" [title]="(g.totalUserRating > 0 ? g.totalUserRating + ' User ratings - ' + g.averageRating + ' average' : 'No ratings yet')"></span>
<span (mouseover)="g.isChecked[3]=true" (click)="rateGame(g, 3)" (mouseout)="g.isChecked[3]=false" class="fa fa-star" [ngClass]="{'checked': g.checkedIndex==3?true:g.isChecked[3]}" [title]="(g.totalUserRating > 0 ? g.totalUserRating + ' User ratings - ' + g.averageRating + ' average' : 'No ratings yet')"></span>
<span (mouseover)="g.isChecked[4]=true" (click)="rateGame(g, 4)" (mouseout)="g.isChecked[4]=false" class="fa fa-star" [ngClass]="{'checked': g.checkedIndex==4?true:g.isChecked[4]}" [title]="(g.totalUserRating > 0 ? g.totalUserRating + ' User ratings - ' + g.averageRating + ' average' : 'No ratings yet')"></span>

        <p class="rating-text">{{g.totalUserRating}} User ratings</p>
      </div>
    </div>
  </div>
  <p class="error" *ngIf="aError">{{aError}}</p>
</div>
