.mainText {
    color: white;
    font-size: 20px;
    text-align: center;
    
}

.appGameHeader {
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 36px;
    padding-top: 20px;
}