.addgametxt{
    text-align: center;
    color: white;
}
.textform {
    color: white;
}
.btn-close{
    margin-left: 40px;
    color: white;
}
.btn-close{
    color: white;
    background-color: white;
}