.nav-link {
     color: white;
     font-family: monospace;
    font-size: 16px;
}

.navbar-brand {
    color: white;
    margin-right: 15px;
    font-family: monospace;
    font-size: 26px;
    padding-right: 30px;
    
}

.carousel-item {
    max-height: 400px;
    height: 10%;
}

.navbar {
    max-height: 75px;
    height: 75px;
}
