.nav-link {
  color: white;
  font-family: monospace;
 font-size: 20px;
 margin-right: 60px;
 margin-left: -55px;
}

.navbar-brand {
 color: white;
 font-family: monospace;
 font-size: 30px;
 margin-right: 15px;
 padding-top: 30px;
 margin-left: -80px;
}

.carousel-item {
 max-height: 330px;
 height: 10%;
}

.userinfo{
  color: white;
      font-family: monospace;
      font-size: 16px;
      text-align: center;
      padding-top: none;
      margin-right: 15px;
      margin-top: 15px;
      
}

.navbar {
 max-height: 75px;
 height: 75px;
}
.upbtn {
 position: fixed;
 font-size: 25px;
 bottom: 15px;
 border: none;
 right: 1px;
 opacity: 1;
 background-color: transparent;
 transition: all .2s ease-in-out;
}

.upbtn:hover {
 -ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.3); 
}
.container-fluid.dark-theme {
 background-color: black;
}
.darkmodebtn {
 margin-right: 15px;
 background-color: transparent;
 border: none;
 transition: all .2s ease-in-out;
}

.darkmodebtn:hover {
 -ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5); 
 
}

.navbar-nav {
  margin-right: auto;
}

.navbar-collapse {
  justify-content: flex-start;
}

.navbar-brand {
  margin-right: 1rem;
}

#logo{
    width: 225px;
    height: 160px;
}
