<p class="appGameHeader">THE BEST EMULATORS FOR THE BEST GAMES</p>
<div class="container mainText">
    <p>Console emulators are always changing. With each update, more games become playable and sometimes issues can arise. Due to this inconsistency, stating that "X emulator is best for playing Y game", may not hold true for very long.
    This is particularly true with 6th and 7th generation consoles, when many games were released on as many platforms as possible. This has now resulted in users being left to research the compatibility of the game they wish to play, obtaining a copy of the game for the platform and then installing the emulator that works best for that game.
    There are many examples of this such as Red Dead Redemption for the PlayStation 3 and Xbox 360. RPCS3 and Xenia are the emulators used for these consoles, both of which are updated very frequently. As mentioned previously, each update can change the state a given game is in, so it's not easy to declare one emulator better than the other for this particular game.
    There may also be issues with a user just not knowing which emulator to use for a particular game, regardless of how many emulators there are or other variables.</p>

    <p>This is a project created by the following students:</p>
    <p>SXXXXXXXXX</p>
    <p>SXXXXXXXXX</p>
    <p>SXXXXXXXXX</p>
    <p>SXXXXXXXXX</p>
</div>

  

